.app-bar {
    /* Display & box model */
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    /* Other */
    background-color: var(--color-white);
    border-bottom: .063rem solid var(--gray-100);
}

.app-bar-controls {
    /* Display & box model */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}