.task {
    /* Display & box model */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    /* Other */
    background-color: var(--color-white);
    border: .063rem solid var(--gray-100);
    border-radius: .5rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.task:hover {
    /* Other */
    box-shadow: 0 2px 8px rgba(0,0,0,.1), 
                0 2px 8px rgba(0,0,0,.1);
}

.task.dragging {
    /* Other */
    box-shadow: 0 2px 16px rgba(0,0,0,.1), 
                0 2px 16px rgba(0,0,0,.1);
}

.task.active {
    /* Other */
    background-color: var(--brand-100);
    border: 2px solid var(--brand-500);
    box-shadow: 0 2px 8px rgba(0,0,0,.1), 
                0 2px 8px rgba(0,0,0,.1);
    transform: scale(1);
    transition: all 0.1s ease-in-out;
}

.task-header, .task-row {
    /* Display & box model */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task-header {
    /* Display & box model */
}

.task-row {
    /* Display & box model */
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.priority-icon.high {
    /* Other */
    color: var(--orange-700);
}

.priority-icon.medium {
    /* Other */
    color: var(--blue-700);
}

.priority-icon.low {
    /* Other */
    color: var(--gray-600);  
}