.logout-button {
    /* Display & box model */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    width: 10rem;
    /* Other */
    list-style: none;
}