.list-item {
    /* Display & box model */
    width: 10rem;
    /* Other */
    list-style: none;
}

.list-item-link {
    /* Display & box model */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    /* Other */
    border: none;
    border-radius: .5rem;
    color: var(--gray-700);
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.list-item-link.active {
    /* Other */
    background-color: var(--brand-100);
}

.list-item-link.active .list-item-label {
    /* Other */
    color: var(--brand-700);
}

.list-item-link.active .icon {
    /* Other */
    color: var(--brand-700);
}

.list-item-link:hover {
    /* Other */
    background-color: var(--gray-100);
}
