.logo {
    /* Display & box model */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: .5rem 0 1rem 0;
}

.logo-icon {
    /* Display & box model */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
}

.navbar {
    /* Display & box model */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: fit-content;
    /* Other */
    border-right: .063rem solid var(--gray-100);
}

.list-items {
    /* Display & box model */
    display: flex;
    flex-direction: column;
    width: fit-content;
    /* Other */
    list-style: none;
}