.chip {
    /* Display & box model */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25rem 1rem;
    width: fit-content;
    /* Other */
    background-color: var(--brand-50);
    border: 1px solid var(--brand-300);
    border-radius: 1rem;
    color: var(--brand-500);
}

.chip-blue {
    /* Other */
    background-color: var(--blue-50);
    border: 1px solid var(--blue-300);
    color: var(--blue-500);
}

.chip-green {
    /* Other */
    background-color: var(--green-50);
    border: 1px solid var(--green-300);
    color: var(--green-500);
}

.chip-orange {
    /* Other */
    background-color: var(--orange-50);
    border: 1px solid var(--orange-300);
    color: var(--orange-500);
}


.chip-rose {
    /* Other */
    background-color: var(--rose-50);
    border: 1px solid var(--rose-300);
    color: var(--rose-500);
}