.snackbar {
    /* Display & box model */
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1rem;
    /* Other */
    background-color: var(--gray-900);
    border-radius: .5rem;
    box-shadow: 0 2px 16px rgba(0,0,0,.1), 
                0 2px 16px rgba(0,0,0,.1);
}

.snackbar p {
    /* Other */
    color: var(--color-white);
}

.snackbar .icon-button {
    /* Other */
    color: var(--color-white);
}

.snackbar .icon-button:hover {
    /* Other */
    background-color: var(--gray-600);
}