.app {
    /* Display & box model */
    height: 100vh;
    width: 100vw;
}

.content-container {
  /* Display & box model */
  display: flex;
  flex-direction: row;
  height: 100%;
}

.main, .workspace {
  /* Display & box model */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.workspace {
  /* Display & box model */
  padding: 2rem;
}

.workspace-header {
  /* Display & box model */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1, h2, p, label, .btn, .link, a {
  font-family: 'Inter';
  color: var(--gray-900);
}

h1 {
  font-weight: 600;
  font-size: 1.875rem;
}

h2 {
  font-weight: 600;
  font-size: 1rem;
  color: var(--gray-600);
}

p {
  font-weight: 400;
  font-size: 1rem;
  color: var(--gray-600);
  text-decoration: none;
}

.btn {
  font-weight: 700;
  font-size: 1rem;
  color: var(--color-white);
}

.title-medium {
  font-weight: 500;
  font-size: 1rem;
}

.body-small {
  font-weight: 300;
  font-size: .875rem;
  color: var(--gray-600);
}

label, .link {
  font-size: .875rem;
}

label {
  font-weight: 400;
  color: var(--gray-600);
}

.link {
  font-weight: 600;
  color: var(--brand-500);
  text-decoration: none;
}

a {
  text-decoration: none;
}