.icon-button {
    /* Display & box model */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    /* Other */
    background-color: transparent;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.icon-button:hover {
    /* Other */
    background-color: var(--gray-100);
}