.contact-list {
    /* Display & box model */
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    width: 36rem;
    padding: 1rem;
    /* Other */
    background-color: var(--color-white);
    border: .063rem solid var(--gray-100);
    border-radius: .5rem;
}

.sorting-header {
    /* Display & box model */
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
